<!doctype html>
<html lang="{{app.lang}}">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">

        <meta name="theme-color" content="{{app.themeColor}}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">


        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Disable link highlighting on IE 10 on Windows Phone (https://blogs.windows.com/buildingapps/2012/11/15/adapting-your-webkit-optimized-site-for-internet-explorer-10/) -->
        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        <title>{{pageTitle}}</title>

        <link rel="stylesheet" href="{{app.settings.folders.storage}}/css/plugins.min.css">
        <link rel="stylesheet" href="{{app.settings.folders.storage}}/css/app.css">

    </head>

    <body block="m-page" mod="{{template}}">

        {{> browserupgrade}}

        <div elem="wrapper">

            {{> page-head}}

            <div elem="body">
                <main elem="content">
                    {{#block 'content'}}{{/block}}
                </main><!-- /m-page__content -->
                {{#if leftbar}}
                <aside elem="aside" mod="left-column">
                    {{#block 'leftbar'}}{{/block}}
                </aside>
                {{/if}}
                {{#if rightbar}}
                <aside elem="aside" mod="right-column">
                    {{#block 'rightbar'}}{{/block}}
                </aside>
                {{/if}}
            </div><!-- /m-page__body -->

            {{> page-foot}}

        </div><!-- /m-page__wrapper -->

        <script src="{{app.settings.folders.storage}}/js/vendors/jquery-2.2.0.min.js"></script>
        <script src="{{app.settings.folders.storage}}/js/plugins.min.js"></script>
        <script src="{{app.settings.folders.storage}}/js/app.js"></script>

        {{!--<script>-->
            <!--// Фикс. исчезающих svg-иконок (xlink из спрайта) в IE, после jquery wrap-->
            svg4everybody();
        </script>--}}

    </body>
</html>
